body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e0f7e0; /* Light green background for better readability */
    color: #333;
}

header {
    background-color: #4CAF50; /* Darker green for the header */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem; /* Center the profile picture and add space below */
}

.profile-picture img {
    width: 100%;
    height: auto;
}

header h1 {
    margin: 0;
}

section {
    padding: 1rem 2rem;
    margin: 1rem 0;
    background-color: #fff; /* White background for sections for contrast */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #4CAF50; /* Matching section headers with header color */
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #eee; /* Light grey background for list items */
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #4CAF50;
    text-decoration: none;
}
 